extends layout

block layout-content
  include navbar

  -data = data || {}

  if errors
    ul
      for error in errors
        li= error.msg

  div.container
    h2 Add Task Form
    form(action='/task/form' method='POST')
      label(for='title') Title:
      input(
        type='text'
        id='title'
        name='title'
        class='form-control'
        placeholder='Add a title'
      )

      label(for='project') Project:
      input(
        type='text'
        id='project'
        name='project'
        class='form-control'
        placeholder='Describe this project'
      )

      label(for='date') Date:
      input(
        type='date'
        id='date'
        name='date'
        class='form-control'
      )

      label(for='assigned_user') Assigned to:
      input(
        type='text'
        id='assigned_user'
        name='assigned_user'
        class='form-control'
        placeholder='Luna Lovegood'
      )

      input(
        type='submit'
        value='Submit'
        class='btn btn-lg btn-primary btn-block'
      )
