extends layout

block layout-content
  include navbar

  -data = data || {}

  if errors
    ul
      for error in errors
        li= error.msg

  div.container
    h2 Update Ticket Form
    form(action='/ticket/update-form/' + _id method='POST')
      div.form-group
        label(for='title') Title:
        input(
          type='text'
          id='title'
          name='title'
          class='form-control'
          placeholder='Add a title'
        )

      div.form-group
        label(for='project') Project:
        input(
          type='text'
          id='project'
          name='project'
          class='form-control'
          placeholder='Describe this project'
        )

      div.form-group
        label(for='date') Date:
        input(
          type='date'
          id='date'
          name='date'
          class='form-control'
        )

      div.form-group
        label(for='assigned_user') Assigned to:
        input(
          type='text'
          id='assigned_user'
          name='assigned_user'
          class='form-control'
          placeholder='Luna Lovegood'
        )

      input(
      type='submit'
      value='Submit'
      class='btn btn-lg btn-primary btn-block'
      )
